@font-face {
    font-family: myFirstFont;
    src: url(../fonts/myFont.ttf);
    font-weight: bold;
}

.agenciesPageHeading{
    font-family:'myFirstFont';
    font-size:330%;
    text-align:center;
}

.countryNameFromAgencies{
    /* color:#FC354C;
    background: linear-gradient(#FC354C,#0ABFBC); */
    background-image: linear-gradient(to left, #6cd8d6,#89e2e1, #0ABFBC);
        -webkit-background-clip: text;
        -moz-background-clip: text;
        background-clip: text;
        color: transparent;
}

.cardsInRow{
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
    justify-content:center;
    align-items:center;
    align-content:center;
}

.agencyCardHolder{
    margin:1% 4%;
}

.circularButton{
    position:fixed;
    top:85%;
    left:95%;
}

.imageDiv{
    width : 500px;
    height : 50%;
    margin :5% auto 5% auto;
}

@media only screen and (min-width:601px) and (max-width: 870px) {
    .cardsInRow{
        margin-left:18%;
    }
    .agencyCardHolder{
        margin-bottom:5%;
    }
    .agenciesPageHeading{
        font-size:210%;
    }
    .imageDiv{
        width:400px;
    }
  }

@media only screen and (max-width: 600px) {
    .cardsInRow{
        margin-left:15%;
    }
    .agencyCardHolder{
        margin-bottom:5%;
    }
    .agenciesPageHeading{
        font-size:210%;
    }
    .imageDiv{
        width:300px;
    }
  }

  @media only screen and (min-width: 801px) and (max-width: 1000px) {
    .circularButton{
    position:fixed;
    top:85%;
    left:90%;
    }
  }

  @media only screen and (max-width: 800px) {
    .circularButton{
    position:fixed;
    top:85%;
    left:80%;
    }
  }