.formContainer{
    background:linear-gradient(#d6e6f3,#ffffff,#839db2);
    display:flex;
    justify-content:Center;
    
    flex-direction:column;
    align-items:center;
}

/* .circularButton{
    position:fixed;
    top:85%;
    left:88%;
} */

@media only screen and (min-width: 1000px) {
    .circularButton{
        position:fixed;
        top:550px;
        left:90%;
    }
  }

  @media only screen and (max-width: 999px) {
    .circularButton{
        position:fixed;
    top:85%;
    left:85%;
    }
  }